<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/LoginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>uitloggen</servlet-name>
		<servlet-class>controller.UitlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uitloggen</servlet-name>
		<url-pattern>/uitloggen/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UrenOpenstellenServlet</servlet-name>
		<servlet-class>controller.UrenOpenstellenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UrenOpenstellenServlet</servlet-name>
		<url-pattern>/slb/UrenOpenstellen.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SlbRoosterServlet</servlet-name>
		<servlet-class>controller.SlbRoosterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SlbRoosterServlet</servlet-name>
		<url-pattern>/slb/SlbRoosterServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentRoosterServlet</servlet-name>
		<servlet-class>controller.StudentRoosterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentRoosterServlet</servlet-name>
		<url-pattern>/student/StudentRoosterServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentAfspraakInplannenServlet</servlet-name>
		<servlet-class>controller.StudentAfspraakInplannenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentAfspraakInplannenServlet</servlet-name>
		<url-pattern>/student/StudentAfspraakInplannenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AfspraakInformatieServlet</servlet-name>
		<servlet-class>controller.AfspraakInformatieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AfspraakInformatieServlet</servlet-name>
		<url-pattern>/slb/AfspraakInformatieServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentToevoegenServlet</servlet-name>
		<servlet-class>controller.StudentToevoegenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentToevoegenServlet</servlet-name>
		<url-pattern>/slb/StudentToevoegenServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>slbDashboard</servlet-name>
		<jsp-file>/slbdashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>slbDashboard</servlet-name>
		<url-pattern>/slb/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>studentDashboard</servlet-name>
		<jsp-file>/studentdashboard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentDashboard</servlet-name>
		<url-pattern>/student/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>slbUrenOpenstellen</servlet-name>
		<jsp-file>/uren_openstellen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>slbUrenOpenstellen</servlet-name>
		<url-pattern>/slb/uren_openstellen/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Student_Toevoegen</servlet-name>
		<jsp-file>/student_toevoegen.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Student_Toevoegen</servlet-name>
		<url-pattern>/slb/student_toevoegen/</url-pattern>
	</servlet-mapping>
	
	<filter>
	  <filter-name>SlbAuth-filter</filter-name>
	  <filter-class>controller.SlbAuthFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>SlbAuth-filter</filter-name>
	  <url-pattern>/slb/*</url-pattern>
	</filter-mapping>
	
	<filter>
	  <filter-name>StudentAuth-filter</filter-name>
	  <filter-class>controller.StudentAuthFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>StudentAuth-filter</filter-name>
	  <url-pattern>/student/*</url-pattern>
	</filter-mapping>
	
</web-app>

